body {
color: #545454;
/*font-family: 'Lato', sans-serif;
*/font-size: 18px;
font-weight: 300;
line-height: 1.5;
background: #fff;
}

a {
text-decoration:none;
color:#4fb8a6;
}

small h1, h2, h3, h4, h5, h6 {
font-family:"Playfair Display";
}

p {
font-size:15px;
color:#333;
line-height:1.8em;
}

.nav {
text-align:center;
/*border-top:1px solid #e5e5e5;
*/
/*border-bottom:1px solid #e5e5e5;
*/z-index:100;
position:relative;
}

.nav ul li {
display:inline-block;
position:relative;
}

.nav ul li a {
font-family:"Playfair Display";
font-size:13px;
color:#000;
letter-spacing:2px;
text-transform:uppercase;
margin:0 13px;
height:50px;
line-height:50px;
display:block;
}

.nav ul li {
position: relative;
display: inline-block;
z-index: 50;
font-family: "Source Sans Pro","Helvetica Neue",sans-serif;
font-size: 12px;
font-weight: 400;
}

.nav ul li a {
font-size:14px;
color:#000;
letter-spacing:2px;
text-transform:uppercase;
line-height:88px;
margin:0 16px 0 18px;
}

ol, ul, li {
    list-style: none;
}

ul, nav {
    display: block;
}

hr {
border-bottom:1px solid #e5e5e5;
width: 70%;

}





li a {
    color: gray;
}

h3 {
    color:#4fb8a6;

}


a.visited {
       color: #436095;


}

a:hover {
  text-decoration: underline;
}

a:focus {
    background: #e5e5e5;
}
#nerd {
     padding-left: 500px;
    padding-right: 50px;
}
#accordion {
    position: relative;
    padding-bottom: 50px;
    padding-left: 500px;
    padding-right: 50px;
}

.copy small {
float: right;
padding-right: 300px;
}