h1  {

    display: block;
}

.post-meta {
    display: block inline;
}

#post-title {
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;

}
#code {
    float:left;
}

.blog-title {

}

#name {
    margin: 0px;
    padding: bottom: 250px;
}