{% extends "base.html" %}


{% block content %}
 <!-- Main Content -->
    


<div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


                       <div class="about-me">


                        <center>
                            <img class="image-responsive" src="/static/img/logo.png" style="max-width:95%;border:1px double #545565;" id="me" width="171" height="180" alt="..." class="img-thumbnail">
                            <h3>Uma Petersen</h3>
                             <small>Imagination . Creatvity . Design + Logic = UP[C0DE]</small>
                        </center>




                            <small>
                                <div class="text">
                                <p>Embarking the unknown quickly became familiar territory for me as a programmer. At times, the unknown can be a challenge, but is this challenge that drives me as a programmer. Programming requires creative problem solving, logic, imagination, and communication.
                                My blog outlines my interest in software development, from creating small projects using frameworks such as Flask, to discovering new tools and sharing industry tips and professional articles I find appealing. If you are interested in software development and want to discover the possibilities of what you might become, this blog is for you. Everything you will find here is designed to help you carry out your own programming explorations. If you want to know a little bit more about me, you can check out my personal page here </small><small><a href="http://www.umapetersen.com">&nbsp;UP[code]</a></p>
                                </div>
                            </small>

                            </div><!-- // end about blog section-->

   
                        <div class="social-about">
                        <center>
                        <a href="https://www.linkedin.com/in/umapetersen" class="btn btn-default" role="button">Linkdin</a>
                        <a href="https://github.com/upcode" class="btn btn-default" role="button">GitHub</a>
                        <a href="https://twitter.com/Octothorpe12" class="btn btn-default" role="button">Twitter</a>
                        </center>
                    </div><!-- // end social -->
 <hr>

                </div>

            </div>
        </div>
    </div>


{% endblock %}