{% extends "base.html" %}
     



       {% block content %}



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 id="nerd">Nerd~Life</h2>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <h3>Python</h3>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                              <div class="panel-body">

                                <ul>
                                    <li><a href="#"><small>Learn Python The Hard Way</small></a></li>
                                    <li><a href="#"><small>Flask</small></a></li>
                                    <li><a href="#"><small>Lists</small></a></li>
                                </ul>

                             </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <h3>Javascript</h3>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                              <div class="panel-body">

                                <ul>
                                    <li><a href="#"><small>Learn Python The Hard Way</small></a></li>
                                    <li><a href="#"><small>Flask</small></a></li>
                                    <li><a href="#"><small>Lists</small></a></li>
                                </ul>

                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <h3>HTML5 and CSS3</h3>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">

                                <ul>
                                    <li><a href="#"><small>Learn Python The Hard Way</small></a></li>
                                    <li><a href="#"><small>Flask</small></a></li>
                                    <li><a href="#"><small>Lists</small></a></li>
                                </ul>

                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <h3>CSS3 Animation and Design</h3>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">

                               <ul>
                                    <li><a href="#"><small>Learn Python The Hard Way</small></a></li>
                                    <li><a href="#"><small>Flask</small></a></li>
                                    <li><a href="#"><small>Lists</small></a></li>
                                </ul>

                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <h3>UP[code] 30</h3>
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                              <div class="panel-body">

                                <ul>
                                    <li><a href="#"><small>Learn Python The Hard Way</small></a></li>
                                    <li><a href="#"><small>Flask</small></a></li>
                                    <li><a href="#"><small>Lists</small></a></li>


                                </ul>

                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div><!-- // end row-->
        </div><!-- // end container -->
    </div><!-- // content -->


{% endblock %}

    