<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>UPCODE BLOG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" lang="en" content="Programming">
        <meta name="Uma Petersen" content="upcode.com">
        <meta name="robots" content="index, follow">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <!-- Custom Fonts -->
        <!-- icons -->
        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <!-- Override CSS file - add your own CSS rules -->
        <link href='https://fonts.googleapis.com/css?family=Oswald:400,700|Cuprum|Rokkitt|Libre+Baskerville|Old+Standard+TT' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../static/css/base.css" />
        <link rel="stylesheet" href="../static/css/blog.css" />

<style>
.social {
    padding-top: 150px;
    padding-bottom: 400px;
}

#contact {
    padding-top: 20px;
}
</style>
</head>
<body>

    <div class="header">
            <div class="container">
                <h5 class="header-heading"></h5>
            </div>
        </div>


        <div class="nav-bar">
            <div class="container">
                <ul class="nav">
                    <li><a href="/posts">Home</a></li>
                    <li><a href="/upcode">Articles</a></li>
                    <li><a href="/upcode">UP[C0DE]</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
<hr>


        <div class="header2">
            <div class="headerimage">
                <!-- Heading levels -->
                 <center><h1 id="contact">CONTACT [C0DE]UP<b>&#8593;</b></h1></center>
            </div><!-- // end headerimage-->
        </div><!-- // end header-->


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                        <div class="social">
                            <center>
                        <a href="http://www.linkdin.com" class="btn btn-primary" role="button">Linkdin</a>
                        <a href="http://www.github.com" class="btn btn-primary" role="button">GitHub</a>
                        <a href="http://www.twitter.com" class="btn btn-primary" role="button">Twitter</a>
                        <a href="mailto:uma.petersen@gmail.com?Subject=Hello%20again" class="btn btn-primary" role="button">Email</a>
                        </center>
                    </div><!-- // end social -->
            </div>
        </div>
    </div>
<hr>

        <div class="footer">
            <div class="row">

            <div id="footer-icons">
                <a href="#">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>


                <a href="#">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>


                <a href="#">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </div>
                <div id="copy">
                    <small class="copyright text-muted">Copyright &copy; UP[C0DE] 2015</small>
                </div>
        </div><!-- // end row -->
        </div><!-- // end footer-->
    </body>
</html>