{% extends "base.html" %}



       {% block content %}





        <div class="header2">
            <div class="headerimage">
                <!-- Heading levels -->
                 <center><h1 id="contact">CONTACT [C0DE]UP<b>&#8593;</b></h1></center>
            </div><!-- // end headerimage-->
        </div><!-- // end header-->


    <div class="container">
        <div class="row">
            <div class="col-md-12">


                        <div class="social-contact">
                            <center>
                        <a href="http://www.linkdin.com" class="btn btn-primary" role="button">Linkdin</a>
                        <a href="http://www.github.com" class="btn btn-primary" role="button">GitHub</a>
                        <a href="http://www.twitter.com" class="btn btn-primary" role="button">Twitter</a>
                        <a href="mailto:uma.petersen@gmail.com?Subject=Hello%20again" class="btn btn-primary" role="button">Email</a>
                        </center>
                    </div><!-- // end social -->
            </div>
        </div>
    </div>
{% endblock %}


       