{% extends "base.html" %}

{% block content %}
    <!-- Page Header -->
    <header class="intro-header" style="background-image: url('/#')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                    <h1 class="contact-title">Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>
                        <div class="social-contact">
                    
                            <a href="http://www.linkdin.com" class="btn btn-default" role="button">Linkdin</a>
                            <a href="http://www.github.com" class="btn btn-default" role="button">GitHub</a>
                            <a href="http://www.twitter.com" class="btn btn-default" role="button">Twitter</a>
                            <a href="mailto:uma.petersen@gmail.com?Subject=Hello%20again" class="btn btn-default" role="button">Email</a>
                        </div><!-- // end social -->
                    </div><!-- // end page-heading-->
                    
                </div><!-- // end col-lg-->
            </div><!-- // end container-->
        </div><!-- // end row-->
    </header><!--// end header-->
<hr>

{% endblock %}


       