{% extends "base.html" %}
<!-- Main Content -->

<!-- First Blog Post -->
         

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    {% for post in posts %}
                    <a href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">
                    <h2 class="post-title">{{ post.title }}</h2>
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    </a>
                    <p class="post-meta">Posted by<a href="/about"> {{ post.name }}</a></p>
                    <p><span class="glyphicon glyphicon-time"></span>{{ post.date }}</p>
                    <img class="img-responsive" src="/static/img/code.png" height="150" width="150" alt=""/>

                    <p class="post-description">{{ post.summary }}</p>
                <a class="btn btn-primary" href="{{ url_for('post', name=post.path.replace('posts/', '')) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <hr>
                 {% endfor %}
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        {% endblock %}





     
 